/**{margin: 0; padding: 0;}
body{
    font-family: sans-serif;
}
.topnav{
    background:rgba(56,62,66,1);
    color: white;
    padding:10px;
    overflow: hidden;
    box-sizing:border-box;
}
.topnav header h1{
    margin: 5px 0 0 30px;
    float:left;
}
.topnav header ul{
    float: right;
    list-style: none;
    margin: 5px 0 0 30px;
}
.topnav header ul li{
    float: left;
    margin: 0 10px;
}
.topnav header ul li a {
    padding: 7px 12px;
    margin: 5px;
    color: whitesmoke;
    background: #232222;
    display:block ;
    text-decoration: none;
    border-radius: 2px;
    transition: all .5s;
}
.topnav header ul li a:hover{
    background: white;
    color: rgba(56,62,66,1);
}
.back{
    width: 100%;
    height: calc(100vh-62px);
    background-image: url("images/img3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.back-inm{
    width: 100%;
    height: 100%;
      background: rgba(0,0,0,0.7);
}
.cont{
    color: white;
    text-align: center;
    padding: 20px;
}
.cont h1{
    font-size: 80px;
    font-family: cursive;
    letter-spacing: 4px;
    margin-top: 50px;
    line-height: 150px;
}
.cont h3{
    font-size: 1.8em;
}
.cont a.ad{
    font-size: 2em;
    color: white;
    background: #1ca8e0;
    padding: 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.5s;
    
}
.cont a.ad:hover{
    background: #24708e;
}
.cont form{
    margin: 70px 0;
}
.cont form input,select{
    padding: 6px;
    font-size: 20px;
}
.cont form input[type=submit]{
    background: #1ca8e0;
    border:1px solid #1ca8e0;
    color: white;
}
*/
body{
    background-image: url("images/imginh.jpg");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size:115%;

}
*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;

}
header{
    /*background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url();*/
    height: 100vh;
    background-size: 100% 100%;
    background-position: center;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
      background-color: #fff;
    color: #000;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
}
ul li.active a{
    background-color: #fff;
    color: #000;
}
.head h1{
    margin-left: 20px;
    margin-top: 10px;
    width: 200px;
    color: #fff;
    
}

.main{
    max-width: 1200px;
    margin: auto;

}
.title{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
    color: #fff;
    font-size: 50px;
    margin-bottom: 25px;

}

.button{
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;

}
.btn:hover{
    background-color: #fff;
    color: black;
}
/* Dropdown Button */
.dropbtn {
  text-decoration: none;
    color: ;
    padding: 7.5px 15px;
    border: 1px solid transparent;
    transition: 0.6s ease;
    background-color: #fff;
    color: #000;
    font-style: Century Gothic;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
/*.dropdown:hover .dropbtn {background-color: #3e8e41;}*/